.todos-action-bar {
    padding: 15px 12px 14px 12px;
    display: flex;
    justify-content: space-between;
    color: #888888;
    }
    .todos-action-bar_undone-counter {
        color: #888888;
        }
    .todos-action-bar_clear-completed,
    .todos-filter{
        background: none;
        border: none;
        outline-width: 1px;
        outline-color: #ebdfdf;
        color: #888888;
        }