$c-white: #ffffff;
$c-white-dark: #fafafa;
$c-gray: #666666;
$c-gray-dark: #333;
$c-gray-light: #888888;
$c-light: #e6e6e6;
$c-orange: #eb722e;
$c-error: #ff5756;
$c-pink-light: #ebdfdf;
$c-gray-new-element: #ccc;
$c-blue: #61c3b1;
$c-default: #f5f5f5;

$title-color: rgba(175, 47, 47, .15);