$w-outline: 1px;

$s-select-all: 64px;
$w-select-all-icon: 24px;
$h-select-all-icon: $w-select-all-icon / 2;

$s-mark: 60px;
$s-mark-icon: 40px;

$h-element: 60px;
$w-element: 40px;

$s-delete-icon: 18px;

$max-width: 560px;
$min-width: 280px;